.ls_auth {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 81px;
	width: 100%;
	text-align: center;
}
.ls_auth:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.ls_auth-login_wrap {
	width: 95%;
	max-width: 590px;
	margin: 20px auto;
	border-radius: 3px;
	overflow: hidden;
	background-color: #eff3f7;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 4px 7px rgba(0,0,0,.29);
}
.ls_auth-title {
	margin: 0;
	font-size: 40px;
	line-height: 1;
	font-weight: 400;
	padding: 26px 0;
}
.ls_auth-form {
	margin: auto;
	width: 71.8%;
	max-width: 422px;
}