
.ls_auth {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 81px;
	width: 100%;
	text-align: center;
}
.ls_auth:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.ls_auth-login_wrap {
	width: 95%;
	max-width: 590px;
	margin: 20px auto;
	border-radius: 3px;
	overflow: hidden;
	background-color: #eff3f7;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 4px 7px rgba(0,0,0,.29);
}
.ls_auth-title {
	margin: 0;
	font-size: 40px;
	line-height: 1;
	font-weight: 400;
	padding: 26px 0;
}

/*
 * Authorication Page - Form
 */
.ls_auth-form-row {
	margin-bottom: 21px;
}
.ls_auth-form-label {
	font-size: 36px;
	line-height: 1;
	font-weight: 300;
	color: #959aa8;
}
.ls_auth-form-field {
	display: block;
	width: 71.8%;
	margin: 12px auto;
}
.ls_auth-form-field input[type="text"],
.ls_auth-form-field input[type="password"] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 422px;
	margin: 0;
	padding: 0 16px;
	width: 100%;
	border: 1px solid #48cbe8;
	outline: none;
	height: 62px;
	line-height: 62px;
	color: #48cbe8;
	font-weight: 300;
	font-size: 17px;
	border-radius: 3px;
}

.ls_auth-form-field input[type="text"]::-webkit-input-placeholder,
.ls_auth-form-field input[type="password"]::-webkit-input-placeholder {
	color: #48cbe8;
}
.ls_auth-form-row.submit {
	text-align: center;
	margin-top: 34px;
}