/**
 * Page - Authorization
 */

.ls_auth_body {
	height: 100%;
	padding-bottom: 0;
} 
.ls_auth {
	display: table;
	width: 100%;
	min-width: 980px;
	min-height: 100%;
}
.ls_auth-wrapper {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 81px;
}
.ls_auth-login_wrap {
	width: 95%;
	max-width: 590px;
	margin: 20px auto;
	border-radius: 3px;
	overflow: hidden;
	background-color: #eff3f7;
	box-shadow: 0 4px 7px rgba(0,0,0,.29);
}
.ls_auth-title {
	margin: 0;
	font-size: 40px;
	line-height: 1;
	font-weight: 400;
	padding: 26px 0;
}
.ls_auth-form {
	margin: auto;
	width: 71.8%;
	max-width: 422px;
}

.ls_auth_body .ls_footer {
	position: relative;
	margin-top: -81px;
}